<div class="row mt-2">
    <div class="col-md-3 card p-2 m-1 text-center" *ngFor="let product of products">
        <h4>
            <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
                {{ product.name }}
            </a>
        </h4>
        <p class="" *ngIf="product.price">
           <span class="h6"> {{ product.price | currency }}</span>
        </p>

        <p class="" *ngIf="product.description">
            {{ product.description }}
        </p>

        <button type="button" (click)="addtoChart()" class="btn btn-sm btn-primary">
            <i class="material-icons text-white">shopping_cart_checkout</i>  Add to Cart
        </button>
        <!-- <app-product-alerts [product]="product"></app-product-alerts> -->
    </div>
</div>

